@font-face {
	font-family: Economica;
	src: url('../fonts/Economica-Regular_0.ttf');
}

@font-face {
	font-family: 'Economica Bold';
	src: url('../fonts/Economica-Bold_0.ttf');
}

body {
	font-family: 'Economica';
	color: #f9f9f9;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 1280px;
	height: 720px;

	--omnibar-item-width: 210px;
	--omnibar-item-height: 55px;
	--omnibar-item-color: #004652;
}

#directrelief-logo {
	width: var(--omnibar-item-width);
	height: var(--omnibar-item-height);
	line-height: var(--omnibar-item-height);
	background-color: var(--omnibar-item-color);
	position: absolute;
	bottom: 0;
	left: 0;
}

#directrelief-logo img {
	height: calc(var(--omnibar-item-height) - 5px);
	vertical-align: middle;
	margin-left: 5px;
}

#calithon-logo {
	width: 198px;
	height: var(--omnibar-item-height);
	line-height: var(--omnibar-item-height);
	background-color: var(--omnibar-item-color);
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#calithon-logo img {
	height: calc(var(--omnibar-item-height) - 5px);
	vertical-align: middle;
	margin-right: 5px;
}

.timer_stopped {
	color: #dfdfdf;
}